
<table clas="syz">
  <tr>
    <td>
      <a routerLink="/search">Search</a>
    </td>
  </tr>
  <tr>
    <td>
      <a routerLink="/cms">CMS Communication</a>
    </td>
  </tr>
  <tr>
    <td>
      <label>Action Item</label>
    </td>
  </tr>
  <tr>
    <td>
      <a routerLink="/submittedToBOwner">Submitted to Bussiness Owner</a>
    </td>
  </tr>
  <tr>
    <td>
      <label>Open Action Items</label>
    </td>
  </tr>
  <tr>
    <td>
      <a routerLink="/openItemsByBOwner">By Business Owner</a>
    </td>
  </tr>
  <tr>
    <td>
      <a routerLink="/openItemByDuedate">By Due Date</a>
    </td>
  </tr>
  <tr>
    <td>
      <a routerLink="/openItemByOverDuedate">By OverDue Date</a>
    </td>
  </tr>
  <tr>
    <td>
      <label>Completed Action Items</label>
    </td>
  </tr>
  <tr>
    <td>
      <a routerLink="/completedByBOwner">By Business Owner</a>
    </td>
  </tr>
  <tr>
    <td>
      <a routerLink="/completedByDate">By Completion Date</a>
    </td>
  </tr>
  <tr>
    <td>
      <label>FYI</label>
    </td>
  </tr>
  <tr>
    <td>
      <a routerLink="/submittedToBOwner">Submitted to Bussiness Owner</a>
    </td>
  </tr>
  <tr>
    <td>
      <a routerLink="/ytd">YTD Statistics</a>
    </td>
  </tr>
</table>