<table>
  <tr>
    <td>
      <h4>Search</h4>
    </td>
  </tr>
  <tr>
    <td>
      <a routerLink="/cms">CMS Communication</a>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Action Item</h4>
    </td>
  </tr>
  <tr>
    <td>
      <a routerLink="/submittedToBOwner">Submitted to Bussiness Owner</a>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Open Action Items</h4>
    </td>
  </tr>
  <tr>
    <td>
      <a routerLink="/openItemsByBOwner">By Business Owner</a>
    </td>
  </tr>
  <tr>
    <td>
      <a routerLink="/openItemByDuedate">By Due Date</a>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Completed Action Items</h4>
    </td>
  </tr>
  <tr>
    <td>
      <a routerLink="/completedByBOwner">By Business Owner</a>
    </td>
  </tr>
  <tr>
    <td>
      <a routerLink="/completedByDate">By Completion Date</a>
    </td>
  </tr>
  <tr>
    <td>
      <h4>FYI</h4>
    </td>
  </tr>
  <tr>
    <td>
      <a routerLink="/submittedToBOwner">Submitted to Bussiness Owner</a>
    </td>
  </tr>
  <tr>
    <td>
      <a routerLink="/ytd">YTD Statistics</a>
    </td>
  </tr>
</table>