<table>
  <tr>
    <td>
      <button type="button" class="btn">Close</button>
    </td>
    <td>
      <button type="button" class="btn">Notify Additional Persons</button>
    </td>
    <td>
      <button type="button" class="btn">Version History</button>
    </td>
  </tr>
</table>
<br>
<div style="background-color:blueviolet; border:1px">
  CMS COMMUNICATION-Release of the 2016 Part C and PartD Annual Reports, Public Use File (PUF) Technical Specifications, and
  PUF files for the PartC and D Reporting Requirements Submitted on: 05/21/2018

</div>
<br>
<div class="required">
  <label class="required-label"></label> indicates a required field
  <br>
</div>


<div class="form-group">
  <table>
    <tr>
      <td>
        <label for="createdBy">Created by:</label>
      </td>
      <td>
        <input type="text" class="form-control" id="createdBy">
      </td>
    </tr>
    <tr>
      <td>
        <label for="reference">Reference #:</label>
      </td>
      <td>
        <input type="text" class="form-control" id="reference">
      </td>
    </tr>
    <tr>
      <div class="required">
        <td>
          <label for="product">Product :</label>
        </td>
        <td>
          <input type="text" class="form-control" id="reference">
        </td>
      </div>
    </tr>
    <tr>
      <td>
        <div class="required">
          <label for="dateReceived">Date Received :</label>
        </div>
      </td>
      <td>
        <input type="date" class="form-control" name="bday" id="dateReceived">
      </td>
    </tr>
    <tr>
      <td>
        <label for="businessOwner">Business Owner:</label>
      </td>
      <td>
        <textarea class="form-control" rows="2" id="businessOwner"></textarea>

      </td>
    </tr>
    <tr>
      <td>
        <label for="businessOwner">Dept./Division: </label>
      </td>
      <td>
        <textarea class="form-control" rows="2" id="businessOwner"></textarea>


      </td>
    </tr>
    <tr>
      <td>
        <label for="vp">VP of Business Owner :</label>
      </td>
      <td>
        <input type="text" class="form-control" name="bday" id="vp">
      </td>
    </tr>
    <tr>
      <td>
        <label for="director">Director of Business Owner :</label>
      </td>
      <td>
        <input type="text" class="form-control" name="director" id="vp">

      </td>
    </tr>
    <tr>

      <td>
        <div class="required">
          <label for="subject">Subject:</label>
        </div>
      </td>
      <td>
        <textarea class="form-control" rows="2" id="subject"></textarea>
      </td>

    </tr>
    <tr>
      <td>
        <label for="notify">Notify to:</label>
      </td>
      <td>
        <textarea class="form-control" rows="2" id="notify"></textarea>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>