<table>
  <tr>
    <td>
      <button type="button">Close</button>
    </td>
    <td>
      <button type="button">Notify Additional Persons</button>
    </td>
    <td>
      <button type="button">Version History</button>
    </td>
  </tr>
</table>
<br>
<div style="background-color:blueviolet; border:1px">
  CMS COMMUNICATION-Release of the 2016 Part C and PartD Annual Reports, Public Use File (PUF) Technical Specifications, and
  PUF files for the PartC and D Reporting Requirements Submitted on: 05/21/2018

</div>
<br>
<div class="required">
  <label class="required-label"></label> indicates a required field
  <br>
</div>

<div class="form-group">
  <table>
    <tr>
      <td>
        <label for="createdBy">Created by:</label>
      </td>
      <td>
        Mario Verges
      </td>
    </tr>
    <tr>
      <td>
        <label for="reference">Reference #:</label>
      </td>
      <td>
        5857
      </td>
    </tr>
    <tr>

      <td>
        <div class="required">
          <label for="product">Product :</label>
        </div>
      </td>
      <td>
        H3154,H7971
      </td>

    </tr>
    <tr>
      <td>
        <BR>
        <div class="required">
          <label for="dateReceived">Date Received :</label>
        </div>
      </td>
      <td>
        <input type="date" name="bday" id="dateReceived">
      </td>
    </tr>
    <tr>
      <td>
        <label for="businessOwner">Business Owner:</label>
      </td>
      <td>
        <textarea rows="3" cols="50" id="businessOwner"></textarea>

      </td>
    </tr>
    <tr>
      <td>
        <label for="businessOwner">Dept./Division: </label>
      </td>
      <td>
        <textarea rows="3" cols="50" id="businessOwner"></textarea>


      </td>
    </tr>
    <tr>
      <td>
        <BR>
        <label for="vp">VP of Business Owner :</label>
      </td>
      <td>
        <BR>
        <input type="text" name="bday" id="vp">
      </td>
    </tr>
    <tr>
      <td>
        <BR>
        <label for="director">Director of Business Owner :</label>
      </td>
      <td>
        <BR>
        <input type="text" name="director" id="vp">

      </td>
    </tr>
    <tr>

      <td>
        <div class="required">
          <BR>
          <label for="subject">Subject:</label>
        </div>
      </td>
      <td>
        <BR>
        <textarea rows="3" cols="50" id="subject"></textarea>
      </td>

    </tr>
    <tr>
      <td>
        <label for="notify">Notify to:</label>
      </td>
      <td>
        <textarea rows="3" cols="50" id="notify"></textarea>
      </td>
    </tr>

  </table>
  <div style="background-color:darkgoldenrod; border:1px">
    <label for="subject">Content:</label>
  </div>
  <br>
  <input value="Browse" type="file" />


</div>