<div>
  <nav class="navbar navbar-default menubar">
    <table>
      <tr>
        <td>
          <img src="favicon.ico">
        </td>
        <td>
          <a routerLink="/about">Medicare Advantages & Part D Complaince</a> >></td>
        <td>
          <a routerLink="/manual">CMS Communication</a>
        </td>
      </tr>
    </table>
  </nav>
  <div class="topnav">
    <a routerLink="/advantages">Medicare Advantages & Part D Complaince</a>
    <a routerLink="/about">About This Application</a>
    <a routerLink="/manual">User Manual</a>
  </div>
</div>